@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crete+Round&family=Dosis:wght@300;400&family=Inter:wght@400;800&family=Montserrat:wght@700&family=Poppins:wght@200;600&family=Quicksand:wght@700&family=Roboto:wght@700&family=Space+Mono:ital@1&display=swap');

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  width: auto;
}

body {
  overflow-x: hidden;
}

/* Mobile menu  */

.navmenu {
  width: 100%;
  font-family: 'inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  justify-content: flex-start;
  align-items: center;
  transition: 0.1s;
}

.ham-menu {
  width: 15px;
  position: relative;
  top: 33px;
  left: 8.3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.change {
  right: 0;
}

.nav_list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.nav_item {
  margin-right: 11rem;
  padding: 10px;
  border-bottom: 1px solid gray;
  width: 90%;
}

.nav_link {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(255, 245, 225, 1);
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  color: #eee;
  align-items: center;
  padding: 30px 10%;
  list-style: none;
  position: fixed;
  width: 80%;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  cursor: pointer;
}

.hambug {
  cursor: pointer;
  margin-left: 14.5rem;
}

.section-one h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  padding-top: 8rem;
  color: #ff6b00;
  margin-left: 2rem;
  display: flex;
}

.section-one h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 2rem;
  color: #fff5e1;
  display: flex;
}

.section-one p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 88%;
  color: #fff;
}

.section-one {
  background: url('images/first-pic.png') rgba(28, 26, 25, 1) no-repeat;
  background-position: right bottom;
  min-height: 80vh;
}

.items {
  list-style: none;
  display: flex;
  margin-left: 1.8rem;
}

.item {
  display: flex;
  padding: 0.8rem;
}

.recent-stories h3 {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin: 6rem 1rem 4rem 2rem;
}

.recent-stories .fast-line {
  width: 86%;
  margin-left: 6%;
}

.placeholder {
  width: 86%;
  padding: 56px 24px 0 24px;
}

.recent-stories h4 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(9, 30, 66, 1);
  margin: 1rem 2rem 0.5rem 2rem;
}

.recent-stories p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #091e42;
  margin: 0.1rem 2rem;
  width: 86%;
}

.recent-stories ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0.7rem 1.8rem;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.section1 ul li {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: auto auto auto;
  padding: 0.8rem;
  margin: 0.4rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.24);
}

.recent-stories ul li {
  display: flex;
  border: 1px solid gray;
  padding: 0.3rem;
  margin: 0.8rem;
  cursor: pointer;
}

.popup1 ul li {
  border: 1px solid #808080;
  padding: 9px;
  text-decoration: none;
  cursor: pointer;
}

.popup1 ul li:hover {
  background-color: #f4f1f0;
  border: 1px solid #525d61;
  color: #5b5957;
}

.recent-stories ul li:hover {
  border: 1px solid #f55800;
  background: #fff5e1;
  color: #f55800;
}

.recent-stories .see__project {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: 2rem;
  background: #ff6b00;
  color: #fff;
  padding: 0.5rem;
  border: none;
}

.section1 .see-button {
  background: #ff6b00;
  color: #eee;
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.aboutme .get_my-resume {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #eee;
  padding: 1rem;
  border: none;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.recent-stories .see__project:hover {
  color: #5b5957;
  background-color: rgba(244, 241, 240, 1);
}

.section1 {
  margin: 2rem;
  background: url('images/Grounding.png'), linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
  background-repeat: no-repeat;
}

.section1 h4 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin-left: 1rem;
}

.section1 p {
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.section1 ul {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0.7rem 2rem 0.7rem 0.7rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.section1 ul li:hover {
  text-decoration: 1px solid#eee;
  border: 1px solid gray;
}

.section1 .see-button:hover {
  background: #f4f1f0;
  border: 1px solid #87ceeb;
  color: #5b5957;
}

.aboutme {
  background: url('images/Group-aboutme.png'), rgba(28, 26, 25, 1);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 31%;
}

.aboutme .aboutme-line {
  margin-top: 11rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.aboutme .group-images {
  margin: 0 0 1rem 13.5rem;
}

.aboutme h2 {
  font-family: 'Crete Round', serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: center;
  color: #ff6b00;
  padding-top: 8rem;
  margin-top: 5rem;
}

.aboutme p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #eee;
  padding: 2rem;
}

.aboutme .get_my-resume:hover {
  border: 2px solid #e4752b;
  color: orangered;
  background: #e4d9d5;
}

.techno {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  color: #eee;
}

.all {
  display: flex;
}

.all img {
  padding: 1rem;
}

.all h5 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
}

.techno ul {
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contact-form p {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  padding: 6rem 1.4rem 4rem 1.4rem;
  width: 88%;
}

.contact-name {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  padding: 1rem 3rem 0 0;
  padding: 1rem 3.5rem 0 0;
  color: #979493;
}

form hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.contact-email {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
  padding: 1rem 3rem 0 0;
  padding: 1rem 3.5rem 0 0;
  color: #979493;
}

textarea {
  background-color: #fbf8f7;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  border: none;
}

.contact-button {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  background: #ff6b00;
  color: #eee;
  padding: 01rem;
  margin: 1.5rem 0 6rem 5rem;
  text-decoration: none;
  border: none;
}

.contact-button:hover {
  border: 1px solid #f55800;
  background-color: #eee;
  color: #f55800;
}

.closedown {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.items-close {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
}

.ending-lining {
  width: 40%;
  padding: 0.2rem;
  background-color: #172b4d;
  margin: 0 auto 0.5rem auto;
  border-radius: 0.2rem;
}

.destop_nav-item {
  display: none;
}

/* POPUP-MOBILE */

.popup1 {
  margin-top: 4vh;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 94vh;
  display: none;
  position: fixed;
  top: 0;
  background-color: #eee;
  width: 95%;
  margin-bottom: 20px;
}

.head-img {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.head-img h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: rgba(23, 43, 77, 1);
  margin-left: 0.5rem;
}

.head-img img {
  padding: 0.9rem;
}

.popup1 ul {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
}

.img-head img {
  margin: 1rem 2rem;
}

.img-head p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin: 1rem 2rem;
}

.button-pop {
  display: flex;
  justify-content: space-evenly;
  margin: 1.8rem 1.2rem;
}

.button-pop a {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #ff6b00;
  padding: 15px;
  border: none;
  cursor: pointer;
  margin-right: 1.3%;
}

span {
  padding: 6px;
}

.window-popup {
  display: block;
}

/* validation */
.small-text {
  font-size: 90%;
  color: hsl(0, 100%, 30%);
}

@media only screen and (min-width: 1010px) {
  body {
    width: 100%;
    margin: 0 auto;
  }

  /* POPUP-DESKTOP */

  .popup1 {
    margin: 1rem 2rem;
    width: 94%;
  }

  .popup1 ul {
    display: flex;
    justify-content: flex-start;
  }

  .popup1 ul li {
    margin: 5px;
  }

  .img-head {
    display: flex;
    justify-content: space-evenly;
  }

  .img-head img {
    width: 56%;
    margin-right: 0;
  }

  .img-head p {
    width: 52%;
    margin-left: 1.8rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
  }

  .button-pop {
    display: flex;
    margin-left: 53%;
    margin-top: -4.5em;
    justify-content: flex-start;
  }

  .hambug {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .desktop-nav-items {
    display: flex;
    justify-content: flex-end;
  }

  .desktop-nav {
    padding: 0 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .logo {
    cursor: pointer;
    margin-right: auto;
  }

  .destop_nav-item {
    display: flex;
    color: #eee;
    text-decoration: none;
  }

  .mail {
    font-size: 23px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .section-one {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/Illustration-header.png');
    background-color: #1c1a19;
    background-position: right;
    background-repeat: no-repeat;
  }

  .section-one_info {
    font-family: 'Crete Round', serif;
    margin-right: 33rem;
    margin-bottom: 10rem;
  }

  .section-one h1 {
    margin-bottom: 1.2rem;
  }

  .section-one h2 {
    margin-bottom: 1rem;
  }

  .section-one p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    width: 88%;
  }

  .section-one .items {
    display: block;
    margin-top: 14rem;
    margin-bottom: 16rem;
  }

  .head-line {
    display: flex;
    width: 85%;
    margin: 3rem auto;
    align-items: center;
  }

  .head-line .fast-line {
    width: 100%;
  }

  .head-line h3 {
    color: #091e42;
    font-family: 'Crete Round', serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    width: 60%;
  }

  .section-one_content {
    display: flex;
    margin-left: 2.5rem;
  }

  .placeholder {
    width: 51%;
    margin-top: 0;
    padding-right: 0;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    width: 53%;
  }

  .see__project {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 2rem;
    background: #ff6b00;
    color: #fff;
    padding: 2rem 0;
    border: none;
  }

  .section-one_content .section2-wordings {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .section2-wordings h4 {
    display: flex;
    font-family: "Crete Round", serif;
    font-size: 32px;
    font-weight: 400;
    color: #091e42;
    margin-bottom: 1.5rem;
  }

  .section2-wordings p {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    color: #091e42;
    width: 79%;
    margin-bottom: 1rem;
  }

  .languange-container {
    margin-bottom: 1rem;
  }

  .section2-wordings .see__project {
    width: 26%;
  }

  .see__project:hover {
    border: 2px solid #87ceeb;
  }

  .section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3.5rem;
    margin-top: 1rem;
  }

  /* .empty-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  } */

  .see-button1 {
    background: #ff6b00;
    color: #eee;
    width: 100%;
    padding: 0.8rem 0;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .see-button1:hover {
    cursor: pointer;
    border: 1px solid #f55800;
    background-color: #eee;
    color: #f55800;
  }

  /* #empty-card_content {
    display: none;
  } */

  .section-cards .see-button {
    display: block;
  }

  .section1:hover .see-button {
    display: block;
  }

  .one .see-button1 {
    display: block;
  }

  .section1 {
    width: 29%;
    margin: 12px 10px;
  }

  .section1 > h4 {
    margin-left: 0.8rem;
    height: 6rem;
    margin-top: 8.7rem;
  }

  .section1 > p {
    margin-left: 0.8rem;
    height: 6rem;
  }

  .section1 > ul > li {
    margin-left: 0.1rem;
  }

  .one {
    grid-area: one;
    background-image: url('images/imagecard1.png');
    background-repeat: no-repeat;
    border: 1px solid black;
    display: flex;
  }

  .two {
    grid-area: two;
    background-image: url('images/imagecard2.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .three {
    grid-area: three;
    background-image: url('images/imagecard3.png');
    background-repeat: no-repeat;
  }

  .four {
    grid-area: four;
    background-image: url('images/imagecard4.png');
    background-repeat: no-repeat;
  }

  .five {
    grid-area: five;
    background-image: url('images/imagecard5.png');
    background-repeat: no-repeat;
  }

  .six {
    grid-area: six;
    background-image: url('images/imagecard6.png');
    background-repeat: no-repeat;
  }

  .aboutme {
    background: url('images/Group.png'), #1c1a19;
    background-repeat: no-repeat;
    background-position: 100% 12%;
    margin-top: 4rem;
  }

  .aboutme-header {
    display: flex;
  }

  .aboutme-info {
    display: flex;
    flex-direction: column;
    font-family: 'inter', sans-serif;
    align-items: flex-start;
    margin-left: 4rem;
    margin-top: 2rem;
    width: 42%;
  }

  .aboutme-header h2 {
    margin-top: 8rem;
    margin-left: 1.6rem;
    margin-bottom: 0;
    padding: 0;
  }

  .aboutme-header img {
    display: flex;
    align-items: flex-end;
    margin-top: 6rem;
    width: 54%;
    margin-left: 4rem;
  }

  .aboutme-Info button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 10px 0;
    background: #ff6b00;
    border: none;
    color: #fff;
  }

  .aboutme .aboutme-line {
    margin: 8rem 9rem 6rem 6rem;
  }

  .techno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 8rem;
    min-height: 30rem;
  }

  .aboutme-Languages {
    display: block;
  }

  .aboutme-Languages > ul > li {
    text-align: left;
  }

  .more {
    margin-top: 0.5rem;
    margin-bottom: -0.6rem;
  }

  .aboutme-language-item {
    margin-top: 0.3rem;
    padding: 1rem;
  }

  .aboutme-frame-item {
    padding: 0.5rem;
  }

  .less {
    margin-bottom: 0.5rem;
  }

  .aboutme-skills-item {
    padding: 0.6rem;
  }

  .all {
    display: flex;
    margin-left: 5px;
  }

  .all p {
    margin-left: 0;
  }

  .all img {
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  .contact-section_form {
    display: flex;
  }

  .contact-section_form p {
    width: 60%;
    text-align: left;
    margin-left: 5rem;
  }

  .contact-section_form form {
    width: 60%;
    margin-top: 5.5rem;
  }

  .contact-name {
    margin-right: 24rem;
  }

  .contact-email {
    margin-right: 24rem;
  }

  .form-line {
    margin-right: 10.4rem;
    margin-left: 0.2rem;
    width: 89%;
  }

  textarea {
    width: 90%;
    margin-right: 3rem;
    border: none;
  }

  .contact-button {
    margin-right: 35rem;
  }

  .ending-lining {
    display: none;
  }

  .closedown {
    margin-right: 6rem;
  }
}
